<?xml version="1.0"?>
<robot name="ur5" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_description)/urdf/ur5_joint_limited_robot.urdf.xacro" /> 
  <xacro:include filename="$(find ur_description)/urdf/spindle.urdf.xacro" />
  


  <joint name="attachment_joint" type="fixed">
    <origin xyz="0.03 0.0035 -0.03" rpy="${pi/2} 0 ${pi}" />
    <parent link="tool0"/>
    <child link="spindle"/>
  </joint>
  <gazebo reference="spindle">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/LightGrey</material>
  </gazebo>
  
  
  <!-- Attach the robotiq 85 gripper -->
  <xacro:spindle prefix="" parent="spindle" >
    <origin xyz="0 0 0" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:spindle> 


  <joint name="set_tcp" type="fixed">
    <parent link="tool0" />
    <child link="tcp" />
    <origin rpy="0.0 0.0 0.0" xyz="0.07 0.03 0" /> <!--x=red_forward,y=green_left,z=blue_up-->
  </joint>
  <link name="tcp" />
  
  
  <!-- Gazebo FT sensor plugin -->
  <gazebo reference="wrist_3_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor_plugin" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>250.0</updateRate>
      <topicName>ft_sensor/raw</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>wrist_3_joint</jointName>
    </plugin>
  </gazebo>
  
</robot>
